html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(224, 218, 218);
  
}

/* input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  
  } */



  
  
  .container2 {
    background-color: rgb(36, 34, 34);
    padding: 20px;
     margin-left: 125px;
     margin-right: 125px;
     
  }
  
  #message {
    display:none;
    background-color: rgb(224, 218, 218);
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
 
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }
  @media screen and (min-width:600px) and (max-width:800px){
    .navbar{
      margin: 0;
    }
    .navbar p{
      font-size: 32px;
      font-weight: 100;
    }
    .form label{
      font-size: 20px;
    }
  }
  @media screen and (max-width:600px){
    .navbar{
      margin: 0;
    }
    .navbar p{
      font-size: 25px;
      font-weight: 100;
    }

  }